/*---------- COLORS ---------------*/

/* #4ABDAC GREEN
   #FC4A1A RED 
   #F7B733 YELLOW
   #DFDCE3 GREY/WHITE*/


* {
  box-sizing: border-box;
  font-family: 'Proza Libre', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: #DFDCE3;
}
/*------------ HEADER ------------*/

header {
  background-color: #4ABDAC;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

h6 {
  color:  #fff;
  font-size: .90rem;
  font-weight: 400 ;
}


li {
  margin: 10px 15px;
  text-decoration: none;
} 

a {
  color: #fff;
  text-decoration: none;
}

.a-link {
  color: #fff;
  font-size: 1rem;
  font-wight: 600;
}

 .nav-i {
  color: #F7B733;
  margin: 0 5px;
}

.navigation-bar {
  align-items: flex-end;
  display:flex;
  list-style-type: none;
}

.admin-logo {
  display: inline-block;
  margin-top: 10px;
  text-align: center;
}

.admin-nav {
  align-items: baseline;
  display: flex;
  postion: relative;
}

.admin-items {
  margin: 0 5px;
}

.fa-user {
 color: #F7B733 ;
}

.arrow-down {
  align-items: center;
  color: #fff;
  font-size: 26px;
  position: absolute;
  right: 22px;
  top: 20px;
}

.logo {
  padding-top: 10px;
  width: 50%;
}

/*------------ CARD GALLERY ------------*/

.card-gallery {
  background: #DFDCE3;
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  justify-content: space-evenly;
  margin: auto;
}

h3 {
  font-size: 3rem;
  padding: 20px 20px;
}

/*------------ CARDS ------------*/

.cards {
  width: 325px;
  height: 500px;
  border: solid 1px;
  background-color: #F7B733;
  box-shadow: 1px 1px 2px grey;
  border: none; 
  margin: 15px;
}

.next-icon {
  width: 70px;
}

.headers,
.h-1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 35%;
  background: url("images/puzzle1.jpg"),linear-gradient(rgba(255,255,255,0.8),rgba(255,255,255,0.8));
  background-size: cover;
  background-blend-mode: soft-light;
  padding: 10px 10px 0px 10px;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 60%;
  margin: 10px;
}

.card-title {
  font-size: 1.25rem;
}

.day-date-time {
  color: gray;
  font-size: 10pt;
  margin-top: 10px;
}

.link {
  font-size: 1rem;
}

.number-of-purchased {
  font-size: 3rem;
  color: #fff;
}

/*------------ CARDS IMAGES ------------*/

.h-2 {
  background: url(images/Dreamers.jpg),linear-gradient(rgba(255,255,255,0.8),rgba(255,255,255,0.8));
  background-size: cover;
}
.h-3 {
  background: url("images/Dreamers.jpg"),linear-gradient(rgba(255,255,255,0.8),rgba(255,255,255,0.8));
  background-size: cover;
}

.h-4 {
  background: url(images/puzzle4.jpg),linear-gradient(rgba(255,255,255,0.8),rgba(255,255,255,0.8));
  background-size: cover;
}

.h-5 {
  background: url(images/puzzle5.jpg),linear-gradient(rgba(255,255,255,0.8),rgba(255,255,255,0.8));
  background-size: cover;
}

.h-6 {
  background: url(images/puzzle6.jpg),linear-gradient(rgba(255,255,255,0.8),rgba(255,255,255,0.8));
  background-size: cover;
}

.h-7 {
  background: url(images/puzzle7.jpg),linear-gradient(rgba(255,255,255,0.8),rgba(255,255,255,0.8));
  background-size: cover;
}

.h-8 {
  background: url(images/puzzle8.jpg),linear-gradient(rgba(255,255,255,0.8),rgba(255,255,255,0.8));
  background-size: cover;
}




@media screen and (max-width: 736px) {
  
  .navigation-bar {
    display: block;
  }

  li {
    margin: 25px 0;
  }
}

@media screen and (max-width: 400px) {
  
  .a-link {
    font-size: .5rem;
  }
}



